* {
	box-sizing: border-box;
}

body, html, h1, h3, h4, h4+p {
	margin: 0 auto;
}
body {
	padding: 1em 0;
	font-family: 'Arial', sans-serif;
	font-size: .8rem;
}
@-moz-document url-prefix() {
	body {
		font-size: .75em;	
	}
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.center {
	text-align: center;
	justify-content: center;
}

img {
	max-width: 6em;
}
h1 {
	font-weight: 800;
	margin-left: 1rem;
	cursor: pointer;
}
h1:hover {
	background: linear-gradient(90deg, #df4e76, #f3b845);
	background-size: 400% 400%;
	animation: flow 4s ease infinite alternate-reverse;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
body > div.scroll-logo {
	position: fixed;
	top: 0;
	left: 0;
	margin: .5em;
	z-index: 9;
	transition: top .3s ease-in-out;
}
body > div.scroll-logo.hidden {
	top: -6em;
}

body > div.scroll-logo img {
	max-height: 4em;
	cursor: pointer;
}

a {
	display: inline-block;
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.settings, .dashboard {
	position: fixed;
	top: 0.5em;
	right: 0.5em;
	cursor: pointer;
	box-sizing: border-box;
	border: 1px solid white;
}
.settings img, .dashboard img {
	width: 4em;
	transition: background-color .3s ease-in-out;
	-webkit-backface-visibility: hidden;
	border: 1px solid white;
	-webkit-background-clip: padding-box;
	filter: grayscale(100%)
}
.settings:before, .dashboard:before {
	content: attr(data-hover);
	position: absolute;
	opacity: 0;
	top: .75em;
	font-size: 1.5em;
	right: 125%;
	pointer-events: none;
	touch-events: none;
	transition: opacity .3s ease-in-out;
	white-space: nowrap;
}
.settings:hover:before, .dashboard:hover:before {
	opacity: 1;
}
.settings img:hover {
	background-color: #000;
	animation: spin 2.5s linear infinite;
}

.dashboard img:hover {
	filter: grayscale(0);
}

@keyframes spin {
	from {transform: rotate(0deg)}
	to {transform: rotate(360deg)}
}
@keyframes flow {
	0%{background-position: 0 50%}
	50%{background-position: 100% 50%}
	100%{background-position: 0 50%}
}