* {
	box-sizing: border-box;
}

body, html, h1, h3 {
	margin: 0 auto;
}
body {
	padding: 1em;
}

.flex {
	display: flex;
	align-items: center;
}
.center {
	text-align: center;
	justify-content: center;
}

h1 {
	font-weight: 800;
}

img {
	max-width: 6em;
	padding-right: 1em;
}
.collection-container {
	max-width: 70em;
	margin: 0 auto;
	padding: 2em 0;
}
.collection-container p {
	text-align: center;
	font-size: 1.2em;
	margin: 2.5em 0;
	color: #666;
}
.collection-container p span {
	text-decoration: underline;
	cursor: pointer;
}
.none {
	padding: 6em 0;
	font-size: 1.5em;
	text-align: center;
}
.collection {
	margin-bottom: 3em;
}
.collection[data-type="history"] {
	opacity: .75;
	color: #999;
}
.collection[data-type="history"] h2 {
	color: #444;
	border-bottom: 
}
.collection h2 {
	padding-left: 1em;
}
.collection h2 span {
	padding: 0 .25em;
	border-bottom: 3px solid #fff;
}
.collection[data-type="today"] h2 span {
	border-color: #c22352;
}
.collection[data-type="tomorrow"] h2 span {
	border-color: #F4CD4C;
}
.collection[data-type="this week"] h2 span {
	border-color: #4B9B62;
}
.collection[data-type="next week"] h2 span {
	border-color: #ff8f01;
}
.collection[data-type="later"] h2 span {
	border-color: #3989c2;
}
.collection[data-type="history"] h2 span {
	color: #444;
	border-color: #444;
}
.tab input[type="checkbox"] {
	opacity: 0;
}
.tab {
	display: flex;
	align-items: center;
	padding: 0 1.25em;
	border-radius: .33em;
	margin: .5em 0;
	background-color: #f7f7f7;
}
.tab:hover, .tab:hover .tab-snooze-until, .tab:hover .tab-actions{
	background-color: #efefef;
}
.tab > div {
	padding: 1.25em .25em;
}
.tab-select {
	width: 5%;
}
.tab-info {
	width: 60%;
}
.tab-info .favicon {
	height: 2em;
	width: 3em;
	margin-right: 1em;
}
.tab-title {
	font-size: 1.2em;
	width: 25em;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
	cursor: pointer;
}
.tab-title:hover {
	text-decoration: underline;
}
.tab-snoozed-on {
	text-transform: uppercase;
	font-size: .75em;
	padding-top: .2em;
	color: #999;
}
.tab-snoozed-on:before {
	content: 'Snoozed on '
}
.tab-snooze-until {
	width: 20%;
	background-color: #f7f7f7;
}
.tab-snooze-until .post {
	line-height: 1;
}
.tab-snooze-until .post:before {
	content: 'Reopening';
	text-transform: uppercase;
	font-size: .75em;
	color: #999;
}
.collection[data-type="history"] .tab-snooze-until .post:before {
	content: 'Reopened on';
}
.tab-snooze-until .time {
	font-weight: bold;
	width: 15em;
	white-space: nowrap;
}
.tab-actions {
	width: 15%;
	background-color: #f7f7f7;
	text-align: right;
}
.tab-actions .remove {
	font-size: 2em;
	line-height: 1;
	cursor: pointer;
	color: #aaa;
	transition: color .3s ease-in-out, opacity .3s ease-in-out;
}
.tab-actions .remove:hover {
	color: #222;
}

.settings {
	position: fixed;
	top: 0.5em;
	right: 0.5em;
	margin: .25em;
	cursor: pointer;
	border: 1px solid white;
}
.settings img {
	width: 2.5em;
	padding: 0;
	background-size: 75% 75%;
	border: 1px solid white;
	transition: background-color .3s ease-in-out;
	-webkit-background-clip: padding-box;
}
.settings:before {
	opacity: 0;
	content: 'Settings';
	position: absolute;
	top: .5em;
	right: 2.5em;
	font-size: 1.2em;
	pointer-events: none;
	touch-events: none;
	transition: opacity .3s ease-in-out;
}
.settings:hover:before {
	opacity: 1;
}
.settings img:hover {
	background-color: black;
	animation: spin 2.5s linear infinite;
}

@keyframes spin {
	from {transform: rotate(0deg)}
	to {transform: rotate(360deg)}
}