#no-tabs {
	position: fixed;
	margin: 10em auto;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	font-size: 1.5em;
	text-align: center;
	pointer-events: none;
	touch-action: none;
	transition: opacity .3s ease-in-out;
}
#no-tabs.hidden, .search-container.hidden, .instructions.hidden {
	opacity: 0;
	pointer-events: none;
	touch-action: none;
}
#time-container {
	max-width: 80em;
	margin: 0 auto;
}
h2 {
	padding: 0 .25em;
	border-bottom: 3px solid #FFF;
}
#today h2 {
	border-color: #F5b84F;
}
#tomorrow h2 {
	border-color: #EF9F54;
}
#this_week h2 {
	border-color: #E9825A;
}
#next_week h2 {
	border-color: #E16561;
}
#later h2 {
	border-color: #E34D68;
}
#history h2 {
	border-color: var(--color);
}
.time-group.hidden, .time-action.hidden, #api-message.hidden {
	display: none;
}
.time-header {
	justify-content: space-between;
	margin: 2rem 1.5em 0;
}
.time-group:not(.hidden):first-of-type .time-header {
	margin-top: 0;
}
.time-action {
	color: #AAA;
}
.time-action:hover {
	cursor: pointer;
	text-decoration: underline;
	color: var(--color);
}
.tab {
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 1em;
	background-color: #F7F7F7;
	margin: .5em 1em;
	box-sizing: border-box;
	flex-wrap: wrap;
}
body.dark .tab {
	background-color: #232323;
}
.tab > div:nth-child(-n+5) {
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 4.5em;
}
.icon-container {
	width: 10%;
}
.icon {
	display: block;
	margin: 0 auto;
	max-width: 1.5rem;
}
.title-container {
	width: 50%;
	margin: unset;
}
.tab-name, .wakeup-time {
	display: block;
	font-size: 1.2em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
}
.tabs {
	width: 100%;
	overflow-y: hidden;
	min-height: unset !important;
	transition: opacity .5s ease-in-out, max-height .5s linear, border-color .5s ease-in-out;
	opacity: 1;
	display: flex;
	flex-wrap: wrap;
	max-height: 0;
	margin: 0 1em;
	opacity: 0;
	overflow-y: scroll;
}
.window.collapsed .icon-container .icon {
	transform: rotateX(0);
}
.window .icon-container .icon {
	transform: rotateX(180deg);
	opacity: .35;
	transition: transform .5s ease-in-out;
}
.window .icon-container .icon:hover {
	opacity: 1;
}
.window > div:nth-child(-n+2) {
	cursor: pointer;
}
.window:not(.collapsed) .tabs {
	max-height: 33vh;
	opacity: 1;
}
.little-tab {
	display: flex;
	padding: .75rem 1rem;
	margin: .25rem;
	width: calc(100% / 3 - .5rem);
}
.little-tab .little-icon {
	max-height: 1rem;
	padding-right: 1rem;
	width: 2rem
}
.little-tab .tab-name {
	font-size: .9rem;
	font-weight: normal;
	width: calc(100% - 2rem);
}
.wakeup-time {
	font-size: 1em;
}
.nap-time, .wakeup-label {
	padding-top: .25em;
	font-size: .8em;
	text-transform: uppercase;
	color: #777;
}
body.dark .nap-time, body.dark .wakeup-label {
	color: #BABABA;
}
.edit-container {

}
.wakeup-time-container {
	width: calc(25% - 5em);
	margin-left: 5em;
}
.wakeup-btn-container {
	width: 10%;
}
.wakeup-button span {
	font-size: .85em;
	text-transform: uppercase;
	background-color: #CCC;
	color: #000;
	padding: .15em .4em;
	border: 2px solid transparent;
	transition: all .25s ease-in-out;
	border-radius: .25em;
}
.wakeup-button span:hover {
	background-color: #888;
	color: #FFF;
}
.remove-btn-container {
	width: 5%;
	text-align: right;
}
.remove-btn-container img {
	opacity: .25;
	max-height: 1em;
}
body.dark .remove-btn-container img:not(:hover) {
	opacity: .4;
}
.remove-btn-container img:hover {
	opacity: 1;
}
.wakeup-button, .remove-button {
	cursor: pointer;
}
body.dark .remove-btn-container img, body.dark .icon.dropdown {
	filter: invert(1);
}
#history .tab:not(.window) .tab-name:hover {
	text-decoration: underline;
	cursor: pointer;
}
.tabs .little-tab:hover {
	border-radius: .25em;
	cursor: pointer;
	background-color: #DDD;
}

@media (max-width: 56em) {
	.tabs {
		order: 3;
	}
	.tab > div:nth-child(-n+5) {
		height: 3.5em;
	}
	.icon-container {
		width: 15%
	}
	.title-container {
		width: 75%;
	}
	.remove-btn-container {
		width: 10%;
		order: 1;
	}
	.wakeup-btn-container, div.wakeup-time-container {
		width: 50%;
		margin: 0;
		text-align: center;
		order: 2;
	}
}

p {
	text-align: center;
	font-size: 1.2em;
	margin: 2.5em 0;
}
body:not(.dark) p, p a {
	opacity: .75;
}
.settings img {
	max-width: 2.25em;
	margin: .25em;
}
.settings:before {
	font-size: 1.15em;
}
.search-container {
	margin: 2em 0;
}
.search-icon {
	max-height: 1.25em;
	margin-right: .75em;
}
#search {
	border: none;
	height: 2em;
	width: 20em;
	color: var(--color);
	background-color: var(--bg-color);
	-moz-appearance: none;
	-webkit-appearance: none;
}
#search:focus {
	outline: none;
}
::placeholder {
	color: #BBB;
}
.input-wrapper {
	position: relative;
	display: inline-block;
	padding-bottom: 3px;
	transition: background-position .3s linear .2s;
	background: linear-gradient(90deg, #f3b845 0%, #DF4E76 50%, #DDD 50%, #DDD 100%);
	background-size: 200%;
	background-position: right;
}
.input-wrapper:not(.valid-search):focus-within:before {
	content: '3 characters minimum';
	position: absolute;
	top: 110%;
	width: 100%;
	text-align: center;
	font-size: .9em;
	color: #BBB;
}
.input-wrapper:after {
	content: '';
	position: absolute;
	left: calc(100% - 1.5em);
	top: .3rem;
	height: 1.2em;
	width: 1.25em;
	background: url('../icons/search.svg') no-repeat 98% center;
	transition: left .2s linear .25s, filter .3s ease-in-out;
}
.input-wrapper.searching {
	background-position: left;
	transition-delay: 0s;
}
.input-wrapper.searching:after {
	left: 105%;
	transition-delay: .3s, 0s;
}
.input-wrapper.searching.valid-search:after {
	filter: invert(44%) sepia(34%) saturate(3287%) hue-rotate(316deg) brightness(93%) contrast(87%);
}
.instructions {
	position: fixed;
	width: 20em;
	text-align: right;
	top: 1rem;
	right: 4rem;
}
.up-arrow {
	width: 4em;
	margin-right: 3rem;
}
.instructions div {
	text-align: left;
	font-size: 1.2em;
	border: 2px dashed black;
	padding: .5rem .75rem;
	margin: .4em 0 0;
}
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
	.instructions span:after {
		content: 'Extensions';
	}
}
@media screen and (min--moz-device-pixel-ratio:0) {
	.instructions span:after {
		content: 'More Tools';
	}
	.instructions div:last-of-type {
		display: none;
	}
}