#no-tabs {
	padding: 6em 0;
	font-size: 1.5em;
	text-align: center;
}
#time-container {
	max-width: 80em;
	margin: 0 auto;
}
h2 {
	padding: 0 .25em;
	border-bottom: 3px solid #fff;
}
#today h2 {
	border-color: #f5b84f;
}
#tomorrow h2 {
	border-color: #ef9f54;
}
#this_week h2 {
	border-color: #e9825a;
}
#next_week h2 {
	border-color: #e16561;
}
#later h2 {
	border-color: #e34d68;
}
#history h2 {
	border-color: #444;
}
.time-group.hidden, .time-action.hidden, #no-tabs.hidden {
	display: none;
}
.time-header {
	justify-content: space-between;
	margin: 2rem 1.5em 0;
}
.time-action {
	color: #aaa;
}
.time-action:hover {
	cursor: pointer;
	text-decoration: underline;
	color: #444;
}
.tab {
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 1em;
	background-color: #f7f7f7;
	margin: .5em 1em;
	box-sizing: border-box;
	flex-wrap: wrap;
}
.tab > div:nth-child(-n+5) {
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 4.5em;
}
.icon-container {
	width: 10%;
}
.icon {
	display: block;
	margin: 0 auto;
	max-width: 1.5rem;
}
.title-container {
	width: 50%;
	margin: unset;
}
.tab-name, .wakeup-time {
	display: block;
	font-size: 1.2em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
}
.tabs {
	width: 100%;
	overflow-y: hidden;
	min-height: unset !important;
	transition: opacity .5s ease-in-out, max-height .5s linear, border-color .5s ease-in-out;
	border-top: 1px solid transparent;
	opacity: 1;
	display: flex;
	flex-wrap: wrap;
	max-height: 0;
	margin: 0 1em;
	opacity: 0;
	overflow-y: scroll;
}
.window.collapsed .icon-container .icon {
	transform: rotateX(0);
}
.window .icon-container .icon {
	transform: rotateX(180deg);
	opacity: .35;
	transition: transform .5s ease-in-out;
}
.window .icon-container .icon:hover {
	opacity: 1;
}
.window > div:nth-child(-n+2) {
	cursor: pointer;
}
.window:not(.collapsed) .tabs {
	max-height: 33vh;
	opacity: 1;
	border-color: #ededed;
}
.little-tab {
	display: flex;
	padding: .75rem 1rem;
	margin: .25rem;
	width: calc(100% / 3 - .5rem);
}
.little-tab .little-icon {
	max-height: 1rem;
	padding-right: 1rem;
	width: 2rem
}
.little-tab .tab-name {
	font-size: .9rem;
	font-weight: normal;
	width: calc(100% - 2rem);
}
.wakeup-time {
	font-size: 1em;
}
.nap-time, .wakeup-label {
	padding-top: .25em;
	font-size: .8em;
	text-transform: uppercase;
	color: #777;
}
.edit-container {

}
.wakeup-time-container {
	width: calc(25% - 5em);
	margin-left: 5em;
}
.wakeup-btn-container {
	width: 10%;
}
.wakeup-button span {
	font-size: .85em;
	text-transform: uppercase;
	background-color: #ccc;
	padding: .15em .4em;
	border: 2px solid transparent;
	transition: all .25s ease-in-out;
	border-radius: .25em;
}
.wakeup-button span:hover {
	background-color: #888;
	color: #fff;
}
.remove-btn-container {
	width: 5%;
	text-align: right;
}
.remove-btn-container img {
	opacity: .25;
	max-height: 1em;
}
.remove-btn-container img:hover {
	opacity: 1;
}
.wakeup-button, .remove-button {
	cursor: pointer;
}
#history .tab:not(.window) .tab-name:hover {
	text-decoration: underline;
	cursor: pointer;
}
.tabs .little-tab:hover {
	border-radius: .25em;
	cursor: pointer;
	background-color: #ddd;
}

@media (max-width: 56em) {
	.tabs {
		order: 3;
	}
	.tab > div:nth-child(-n+5) {
		height: 3.5em;
	}
	.icon-container {
		width: 15%
	}
	.title-container {
		width: 75%;
	}
	.remove-btn-container {
		width: 10%;
		order: 1;
	}
	.wakeup-btn-container, div.wakeup-time-container {
		width: 50%;
		margin: 0;
		text-align: center;
		order: 2;
	}
}

p {
	text-align: center;
	font-size: 1.2em;
	margin: 2.5em 0;
	color: #666;
}
.settings img {
	max-width: 2.5em;
	margin: .25em;
}
.settings:before {
	top: .5rem;
	font-size: 1.25em;
}