body, html, h1, h3 {
	margin: 0 auto;
}

body {
	position: relative;
	width: 45em;
	padding: .5em;
}
img {
	max-width: 4.5em;
}
.header .center img {
	max-width: 3em;
	margin-top: .75rem;
}
.header > div {
	margin-bottom: 1rem;
	width: 45%;
	max-width: 45%;
}
.header > div:nth-of-type(even) {
	width: 10%;	
}

a {
	color: #000;
}

h3 {
	text-transform: uppercase;
	font-size: .9em;
	transition: opacity, .5s ease-in-out
}

.center {
	text-align: center;
	justify-content: center;
}
#icon {
	transition: transform .3s ease-in-out;
}
#icon.flipped {
	transform: rotate(180deg);
}
div[data-preview], div[data-preview].disabled .preview {
	opacity: .3 !important;
}
div[data-preview].active {
	opacity: 1 !important;
}
div[data-preview]:not(.active):not(.disabled):hover {
	opacity: .5 !important;
}
div[data-preview].active .preview, div[data-preview]:not(.active):not(.disabled):hover .preview {
	border-color: #000;
}
div[data-preview].disabled {
	border-color: transparent !important;
	pointer-events: none !important;
	touch-action: none !important;
}
.preview {
	margin: .5em 0;
	padding: .5em;
	align-items: center;
	border-radius: .33em;
	height: 3.5em;
	max-width: 100%;
	background-image: linear-gradient(to right, #ddd 50%, #ddd 0);
	background-position: right;
	background-size: 200% 200%;
	transition: background-position 1.9s linear, color .4s ease-in-out .75s;
	border: 2px solid transparent;
	scrollbar-width: none;
	cursor: pointer;
}
.preview.snoozed {
	display: flex;
	justify-content: center;
	align-items: center;
}
.preview.animate {
	background-position: left;
}
.preview.snoozed span {
	font-size: 1.5em;
	font-weight: bolder;
}
#tab-favicon, #window-favicon {
	height: 1.75em;
	width: 1.75em;
	margin-right: .75em;
}
#window-favicon {
	max-height: 2em;
}

.section {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.section:first-of-type {
	justify-content: space-between;
}
.section.choices > div {
	max-width: 48.8%;
	flex-basis: 48.8%;
}

#tab-title, #window-title {
	line-height: 1.5;
	max-height: 3em;
	overflow: scroll;
}

.choice, .custom-choice {
	display: flex;
	align-items: center;
	margin: .25em;
	padding: .25em .5em;
	border-radius: .33em;
	background-color: #f7f7f7;
	height: 4.5em;
	transition: all .3s ease-in-out;
	justify-content: space-between;
	cursor: pointer;
}

.choice.disabled, .custom-choice.disabled, h3.disabled,  div[data-preview].disabled .preview {
	pointer-events: none;
	touch-actions: none;
	opacity: .1;
	cursor: unset;
}

/* inside choice*/
.choice img, .custom-choice img {
	max-height: 2.5em;
	padding-right: 1em;
}

.label {
	font-weight: bold;
	white-space: nowrap;
	transition: color .3s ease-in-out;
}
.choice div {
	pointer-events: none;
	touch-actions: none;
}

.choice > div:first-of-type, .custom-choice > div:first-of-type {
	display: flex;
	align-items: center;
}

.choice .date, .choice .time {
	text-align: right;
	font-weight: bold;
	text-transform: uppercase;
	transition: color .3s ease-in-out;
}
.choice .date {
	color: #777;
}
.choice:hover *, .choice.focused * {
	color: #000;
}

.custom-choice {
	cursor: default;
	height: 4.5em;
	padding-top: 0px;
	padding-bottom: 0px;
	justify-content: unset;
	max-width: 21.5em;
	overflow-x: hidden;
}

.custom-choice div:first-of-type, .custom-choice-form {
	flex-basis: 48.8%;
}
.custom-choice-form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: opacity .3s ease-in-out;
	opacity: 0;
}
.custom-choice.active, .custom-choice.focused {
	max-width: 45em;
}
.custom-choice.active .custom-choice-form, .custom-choice.focused .custom-choice-form {
	opacity: 1
}

.custom-choice .input {
	display: flex;
	flex-direction: column;
}

.submit-btn {
	cursor: pointer;
	transition: color .3s ease-in-out;
	text-transform: uppercase;
}
.submit-btn:hover {
	text-decoration: underline;
}
.submit-btn.disabled {
	pointer-events: none;
	touch-actions: none;
	opacity: 0.2;
}

.choice:hover, .choice.focused, .custom-choice:hover, .custom-choice.focused {
	background-color: var(--bg);
}

input::-webkit-datetime-edit-month-field:focus, input::-webkit-datetime-edit-day-field:focus, input::-webkit-datetime-edit-year-field:focus, input::-webkit-datetime-edit-hour-field:focus, input::-webkit-datetime-edit-minute-field:focus {
	color: #fff !important;
}
.dark-on-hover:hover *, .dark-on-hover.focused *, .custom-choice:hover *, .custom-choice.focused * {
	color: #fff !important;
}

input {
	background-color: inherit;
	-webkit-appearance: none;
	border: none;
	position: relative;
	width: 10em;
	transition: all .3s ease-in-out;
}

input:focus,input:active {
	outline: none;
}

input::-webkit-datetime-edit {
	text-transform: uppercase;
	font-family: 'Monaco';
}

input::-webkit-datetime-edit-fields-wrapper {
	padding: .35em 0;
}

input::-webkit-datetime-edit-month-field, input::-webkit-datetime-edit-day-field, input::-webkit-datetime-edit-year-field, input::-webkit-datetime-edit-hour-field, input::-webkit-datetime-edit-minute-field {
	background-color: rgba(0,0,0,.05);
	padding: .25em .5em;
	border-radius: .33em;
	cursor: pointer;
	transition: background-color .3s ease-in-out;
}
input.invalid::-webkit-datetime-edit-month-field, input.invalid::-webkit-datetime-edit-day-field, input.invalid::-webkit-datetime-edit-year-field, input.invalid::-webkit-datetime-edit-hour-field, input.invalid::-webkit-datetime-edit-minute-field {
	background-color: rgba(255,0,0,.25);
}
@-moz-document url-prefix() {
	input {
		font-family: Arial, sans-serif;
		display: inline-block;
		text-align: center;
		margin: 1px 0;
		padding-top: 2px;
		clip-path: inset(0 25px 0 8px);
		background-color: rgba(0,0,0,.25);
	}
	input.invalid {
		background-color: rgba(255,0,0,.65);
	}
} 

.custom-choice:hover input.invalid::-webkit-datetime-edit-month-field,.custom-choice:hover input.invalid::-webkit-datetime-edit-day-field,.custom-choice:hover input.invalid::-webkit-datetime-edit-year-field,.custom-choice:hover input.invalid::-webkit-datetime-edit-hour-field,.custom-choice:hover input.invalid::-webkit-datetime-edit-minute-field {
	background-color: rgba(255,0,0,.5);	
}

input::-webkit-calendar-picker-indicator {
	position: absolute;
	z-index: 2;
	cursor: pointer;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	color: transparent;
	background: transparent;
}

.dashboard-btn {
	cursor: pointer;
	font-size: 1.25em;
	border-bottom: 1px solid black;
}
.dashboard-btn:hover {
	text-decoration: underline;
}
.upcoming:before {
	content: 'Tabs waking up today - '
}
.upcoming {
	opacity: 0;
	font-size: .75em;
	text-transform: uppercase;
	color: #666;
}
.upcoming:not([data-today='']) {
	opacity: 1;
}
.upcoming:after {
	content: attr(data-today)
}
.footer {
	padding-top: 1rem;
}
.settings {
	top: unset;
	bottom: .2em;
	right: .25em;
}
.settings img {
	width: 1.75em;
}
.settings:before {
	top: .25rem;
	font-size: unset;
}