body {
	position: relative;
	width: 50em;
	padding: .5em;
	background-image: none;
}
img {
	max-width: 4.5em;
}

a {
	color: var(--color);
}

h3 {
	text-transform: uppercase;
	font-size: .9em;
	margin-bottom: .25rem;
	transition: opacity, .5s ease-in-out
}

#icon {
	transition: transform .3s ease-in-out;
}
#icon.flipped {
	transform: rotate(180deg);
}
.header {
	margin: 0 .25rem .25rem;
}
.header > div {
	width: 50%;
	max-width: 50%;
}
#targets {
	margin: .25em 0 .75em;
	padding: .5em;
	justify-content: space-evenly;
	height: 3em;
}
.target {
	font-size: 1.2em;
	padding: 2px;
	cursor: pointer;
	color: #888;
	border-bottom: 3px solid transparent;
	transition: border-color .3s ease-in-out;
}
.target:not(.active):not(.disabled):hover {
	opacity: .75;
	color: var(--color);
}
.target.active {
	border-color: #DF4E76;
	opacity: 1;
	color: var(--color);
}
.target.disabled {
	cursor: default;
	opacity: .1;
	pointer-events: unset;
}
.target:focus-visible, .nap-room-btn:focus-visible, .checkbox input:focus-visible {
	outline-offset: 3px;
	outline: 2px dashed crimson;
	background: none;
}

#preview {
	margin: .5em 0;
	padding: .5em;
	align-items: center;
	border-radius: .33em;
	height: 4em;
	max-width: 100%;
	justify-content: unset;
	background-color: #ddd;
	background-position: right;
	background-size: 200% 200%;
	transition: background-position 1.9s linear;
	border: 2px solid transparent;
	scrollbar-width: none;
	color: var(--color);
}

#preview.snoozed {
	display: flex;
	justify-content: center;
	align-items: center;
}
#preview.animate {
	background-position: left;
}
#preview.snoozed span {
	transition: color .4s ease-in-out .75s;
	font-size: 1.5em;
	font-weight: bolder;
}
#preview-favicon {
	height: 2.5em;
	width: 2.5em;
	margin-right: 1em;
	margin-left: .25em;
}

#preview-text {
	line-height: 1.5;
	max-height: 3em;
	overflow: scroll;
}

.section {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.section:first-of-type {
	justify-content: space-between;
}
.section.choices, .section.special-choices {
	position: relative;
}
.form-overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: .33em;
	background-color: #f7f7f7;
	margin: .25rem;
	z-index: 2;
	justify-content: space-between;
}
.form-overlay.show {
	display: flex;
}
.form-overlay > div {
	width: 50%;
}
.overlay-close-btn {
	position: absolute;
	top: .25rem;
	right: .75rem;
	line-height: 1;
	font-size: 2rem;
	opacity: .25;
	cursor: pointer;
}
.overlay-close-btn:hover {
	opacity: .5;
}
.date-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .25rem;
}
.time-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.time-wrapper .f-calendar {
	width: 150px;
	transform: scale(1.25);
	background: rgba(0,0,0,0.1);
}
.quick-actions {
	margin-top: 3rem;
}
.quick-actions h3 {
	opacity: .5;
}
.reset-container {
	margin-top: .5rem;
	opacity: .6;
	cursor: pointer;
}
.action, .custom-action {
	padding: .25rem .5rem;
	margin: .25rem .5rem;
	border-radius: 3em;
	cursor: pointer;
	text-align: center;
	min-width: 70px;
	background: rgba(0,0,0,0.1);
}
.action:not(.disabled):hover {
	background: rgba(0,0,0,0.2);
}
.action.disabled {
	cursor: not-allowed;
	opacity: .4;
}
.section.choices > .choice, .repeat-choice {
	max-width: calc(50% - .5rem);
	flex-basis: calc(50% - .5rem);
}

.choice, .custom-choice {
	display: flex;
	align-items: center;
	margin: .25em;
	padding: .25em .5em;
	border-radius: .33em;
	background-color: #f7f7f7;
	outline: none;
	height: 4em;
	justify-content: space-between;
	cursor: pointer;
}

.choice.disabled, .choice.always-disabled, .custom-choice.disabled, h3.disabled,  div[data-preview].disabled .preview {
	pointer-events: none;
	touch-action: none;
	opacity: .1;
	cursor: unset;
}

/* inside choice*/
.choice img, .custom-choice img {
	max-height: 2.5em;
	padding-right: 1em;
}

.label {
	font-weight: bold;
	white-space: nowrap;
}
.label .text {
	padding-left: .25rem;
}
.choice div {
	user-select: none;
}

.choice > div:first-of-type, .custom-choice > div:first-of-type {
	display: flex;
	align-items: center;
}

.choice .date, .choice .time {
	text-align: right;
	font-weight: bold;
	text-transform: uppercase;
}
.choice .date {
	color: #777;
}
.choice select {
	border: none;
	outline: none;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-color: rgba(0,0,0,.1);
	background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z' fill='%23777'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position-x: calc(100%);
	background-position-y: center;
	border-radius: .25rem;
	padding: .1rem 1rem .1rem .25rem;
	cursor: pointer;
	color: var(--color);
}
.choice .select-wrapper {
	position: relative;
}

.choice.focused select {
	background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z' fill='white'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

body.dark .choice .date {
	color: #AAA;
}
.choice:hover *, .choice.focused *, .choice:hover .date, .custom-choice:hover *, .custom-choice.focused *, .custom-choice.really-focused, .custom-choice.focused + .repeat-container span {
	color: #FFF !important;
}

.custom-choice {
	height: 4.5em;
	padding-top: 0px;
	padding-bottom: 0px;
	justify-content: unset;
	width: 100%;
	max-width: calc(50% - .5em);
	overflow-x: hidden;
}
.custom-choice > div:first-of-type {
	flex-basis: 40%;
}
.custom-choice > div:last-of-type {
	flex-basis: calc(60% - .25rem);
}
.custom-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: opacity .3s ease-in-out;
	opacity: 0;
}
.custom-choice.active, .custom-choice.focused {
	max-width: 50em;
	color: #FFF;
}
.custom-choice.active .custom-info, .custom-choice.focused .custom-info {
	opacity: 1;
}
.time-display, .date-display {
	font-weight: bold;
	font-size: 1.1em;
}
.submit-btn {
	cursor: pointer;
	transition: color .3s ease-in-out;
	text-transform: uppercase;
	padding: .5rem;
	color: #FFF;
	border-radius: .25rem;
	background: rgba(0,0,0,.25);
}
.submit-btn:hover {
	background: rgba(0,0,0,.4);
}
.submit-btn.disabled {
	pointer-events: none;
	touch-action: none;
	opacity: 0.2;
}
.repeat-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: flex-end;
	pointer-events: none;
	touch-action: none;
}
.repeat-choice label {
	pointer-events: initial;
	touch-action: initial;
}

.choice.focused, .custom-choice.focused, .custom-choice.really-focused {
	background-color: var(--bg) !important;
}
.choice.focused, .custom-choice.focused {
	cursor: default;
}
.choice.focused {
	transition: background-color 0s linear;
}

body.dark #preview, body.dark .choice, body.dark .custom-choice, body.dark .form-overlay {
	background-color: #444
}
.footer a {
	text-decoration: none;
}
.nap-room-btn  {
	cursor: pointer;
	font-size: 1.25em;
}
.upcoming:before {
	border-top: 1px solid var(--color);
	padding-right: ;
	content: 'Tabs waking up today - '
}
.upcoming {
	display: none;
	font-size: .75em;
	text-transform: uppercase;
	color: #666;
}
body.dark .upcoming {
	color: #BBB;
}
.upcoming:not([data-today='']) {
	display: block;
}
.upcoming:after {
	border-top: 1px solid var(--color);
	content: attr(data-today)
}
.footer {
	padding: .5rem .25rem 0;
	justify-content: space-between;
	align-items: center;
}
.footer .center img {
	width: 2.75em;
}
.settings {
	position: relative;
	top: 0;
	right: 0;
	margin-left: 1.25rem;
}
.settings img {
	vertical-align: middle;
	width: 1.75em;
}
.settings:before {
	top: .25rem;
	font-size: unset;
}