.settings-container, .about-container {
	max-width: 45em;
	margin: 1.5em auto 0;
}
h2 {
	padding: 0 1em;
}
h2 span {
	padding: .25em;
	border-bottom: 3px solid #EAB35C;
}
.about-container h2 span {
	border-color: #D05E74;
}
.input-container.flex, .input-container > .flex {
	justify-content: space-between;
}
.input-container {
	font-size: 1.2em;
	padding: 1em;
	margin: .5em 0;
	border-radius: .33em;
	border: 1px dashed #fff;
	transition: border-color .25s ease-in-out;
}
.input-container:hover {
	border-color: #bbb;
	transition-duration: 0;
}
.input-container {
	max-width: 100%;
}
h4 ~ p {
	font-size: .8em;
	margin: 0;
}
select, option {
	border: none;
	outline: none;
	border-bottom: 2px solid #000;
	text-align: center;	
	padding: .25em;
}
select, option, label {
	cursor: pointer;
}
select {
	-moz-appearance: none;
}
.choice-list {
	padding-top: 1em;
}
.choice-list.disabled input, .choice-list.disabled input + label{
	opacity: .4;
	pointer-events: none;
	touch-actions: none;
}
.choice-list.disabled input:checked, .choice-list.disabled input:checked + label {
	opacity: 1;
	pointer-events: unset;
	touch-actions: unset;
}
.choice-list > div {
	font-size: 1.1em;
	margin: .5em;
}
input[type=checkbox] {
	margin: 0 1em;
}
.about-container .flex {
	margin-top: 2.5em;
	justify-content: flex-start;
}
.about-container p, .about-container .flex span {
	padding-left: 1.25em;
	padding-right: .5em;
}