.settings-container, .about-container {
	max-width: 50em;
	margin: 1.5em auto 0;
}
h2 {
	padding: 0 1em;
}
h2 span {
	padding: .25em;
	border-bottom: 3px solid #f3b845;
}
.about-container h2 span {
	border-color: #df4e76;
}
.input-container.flex, .input-container > .flex {
	justify-content: space-between;
}
.input-container {
	font-size: 1.2em;
	padding: 1em;
	margin: .5em 0;
	border-radius: .33em;
	border: 2px dashed transparent;
	transition: border-color .25s ease-in-out;
	background-color: rgba(240, 240, 240, .5);
}
body.dark .input-container {
	background-color: rgba(35, 35, 35, .5);
}
.input-container:hover, .input-container:focus-within {
	border-color: #808080;
}
.input-container.highlight, .input-container.highlight:hover, input-container.highlight:focus-within {
	border-color: #c71543;
	border-width: 3px;
}
.input-container {
	max-width: 100%;
}
.settings-container p {
	font-size: .85em;
	margin: 0;
	opacity: .15;
	transition: opacity .25s ease-in-out
}
h4, p {
	cursor: default;
}
.input-container:hover p, .input-container:hover .storage-available,
.input-container.highlight p, .input-container.highlight .storage-available,
.input-container:focus-within p, .input-container:focus-within .storage-available {
	opacity: 1;
}
select, option {
	border-radius: 0;
	border: none;
	outline: none;
	text-align-last: center;
	font-size: .9rem;
	padding: .25em;
}
select, option, label {
	cursor: pointer;
	position: relative;
}
option {
	color: var(--color);
	background-color: var(--bg-color);
}
.select-wrapper, .btn {
	position: relative;
	cursor: pointer;
}
.select-wrapper:after, .btn:after {
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
	background-image: linear-gradient(90deg, #f3b845 0%, #DF4E76 50%, var(--color) 50%, var(--color) 100%);
	background-size: 202%;
	background-position: right;
	transition: background-position .3s ease-in-out;
	height: 2px;
	top: 100%;
}

select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-color: inherit;
	background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-position-y: center;
	padding-right: 20px;
	color: var(--color);
}
body.dark select {
	background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path fill='white' d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}
#right-click .btn div:before {
	content: 'configure'
}
#right-click.show .btn div:before {
	content: 'close'
}
#right-click:not(.show) input[type="checkbox"] {
	visibility: hidden;
}
.choice-list {
	width: 100%;
	max-height: 0;
	overflow-y: hidden;
	transition: max-height .5s ease-in-out, padding-top .1s linear .4s;
}
.choice-list input:disabled + label {
	opacity: .25
}
.choice-list > div {
	font-size: 1.1em;
	margin: .5em;
}
#right-click.show .choice-list {
	padding-top: 1em;
	transition-delay: 0s;
}
.btn {
	outline: none;
}
.btn div {
	padding: .25em;
	font-size: .8em;
	text-transform: uppercase;
}
#shortcut .btn div:before {
	content: 'configure';
}
#shortcut.show .btn div:before {
	content: 'hide';
}
.btn:hover:after, .btn:focus-within:after, .select-wrapper:hover:after, .select-wrapper:focus-within:after {
	background-position: left;
}
#shortcut, #right-click {
	flex-wrap: wrap;
}
#shortcut:not(.show) .mini {
	max-height: 0;
	visibility: hidden;
}
.mini {
	width: 100%;
	max-height: 0;
	transition: max-height .3s ease-in-out;
	overflow-y: hidden;
}
div > strong {
	display: block;
	margin-top: 1em;
}
div > strong + div {
	margin-bottom: .5em;
}
.bindings .flex {
	justify-content: unset;
}
.bindings .flex div {
	padding: .25em 0;
	width: 15em;
}
kbd {
	color: var(--color);
	background-color: var(--bg-color);
    border-radius: .25em;
    border: 1px solid var(--color);
    display: inline-block;
    padding: .1em .4em;
    margin: 0 .25em;
    font-size: 1.1em;
}
code {
	cursor: pointer;
	font-size: 1.2em;
	background-color: #ddd;
	border-radius: .25em;
	padding: .1em .2em;
	user-select: none;
}
.copied {
	position: fixed;
	right: 1em;
	font-size: 1.5em;
	bottom: -2em;
	border: 1px dashed var(--color);
	padding: .25em .5em;
	background-color: var(--bg-color);
	transition: bottom .3s ease-in-out;
}
.copied.toast {
	bottom: 1em;
}
input[type=checkbox] {
	margin: 0 1em;
}

.storage-available {
	margin: 2.5em auto .5em;
	width: 50%;
	border: 2px solid var(--color);
	padding: 3px;
	opacity: .15;
	transition: opacity .25s ease-in-out
}

.storage-used {
	height: 8px;
	background: linear-gradient(90deg, #f3b845 0%, #df4e76 100%);
	clip-path: inset(0 0 0 0);
	transition: clip-path .5s ease-in-out
}
p.storage-text, p.storage-low, p.storage-full {
	text-align: center;
	margin: .5em 0;
}
.storage-low.hidden, .storage-full.hidden {
	display: none;
}
.reset-container {
	text-align: center;
}
#reset {
	display: inline-block;
	margin: 3em 0 0;
	cursor: pointer;
	text-decoration: underline;
	opacity: .75;
}
.about-container .flex {
	justify-content: flex-start;
}
#version {
	margin-top: 2.5em;
}
.about-container p, .about-container .flex span {
	padding-left: 1.25em;
	padding-right: .5em;
}
@media screen and (min--moz-device-pixel-ratio:0) {
	.right-click span:after {
		content: ' / tab';
	}
}